name: pulse_libre
description: "Cross-platform BLE companion app for Pulsetto vagus nerve stimulator"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.6.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_blue_plus: ^1.35.0
  flutter_blue_plus_windows: ^1.26.1
  provider: ^6.1.0
  sqflite: ^2.4.0
  path: ^1.9.0
  shared_preferences: ^2.3.0
  permission_handler: ^11.3.0
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
